.menu {
  color: #333;
  font-size: 14px;
  line-height: 1.5715;
  &-item {
    padding: 8px 16px;
    transition: all 0.3s;
    border-radius: 2px;
    &:hover {
      background-color: #fff;
    }
    &-active {
      font-weight: bold;
      background-color: #fff;
    }
  }

  &-submenu {
    &-title {
      padding: 8px 16px;
      font-weight: bold;
      position: relative;
    }
    &-arrow {
      position: absolute;
      left: 5px;
      top: 50%;
      width: 10px;
      height: 10px;
      &:hover {
        &::before,
        &::after {
          background: #1890ff;
        }
      }
      &::before {
        content: '';
        transform: rotate(45deg) translateX(2px);
        position: absolute;
        width: 6px;
        height: 1.5px;
        border-radius: 2px;
        background: #333;
        border-radius: 2px;
      }
      &::after {
        transform: rotate(-45deg) translateX(-2px);
        position: absolute;
        width: 6px;
        height: 1.5px;
        border-radius: 2px;
        background: #333;
        border-radius: 2px;
        content: '';
      }
    }
  }
}
