.tab-bar{
  position: relative;
  margin-bottom: 10px;
  border-bottom: 2px solid #ddd;

  &-list{
    display: flex;
    padding: 0;
  }

  &-item{
    padding: 12px 16px;
    flex: 1;
  }

  &-inner{
    position: absolute;
    bottom: -2px;
    height: 2px;
    background: #282b35;
    transition: left .3s;
    border-radius: 2px;
  }
}