.modal-mask,
.modal-warp {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}
.modal-mask {
  background-color: rgba(0, 0, 0, 0.45);
}

.modal-warp {
  overflow: auto;
}

.modal {
  width: 520px;
  height: 500px;
  border-radius: 2px;
  background-color: #fff;
  padding: 16px;
  position: relative;
  top: 100px;
  margin: 0 auto 24px;
}
