.t-checkbox{
  .t-input{
    display: none;
  }
  .t-checkbox-inner{
    font-size: 14px;
    margin-right: 5px;
  }
}
.t-checkbox:not(.t-checkbox-disabled){
  &:hover {
    .t-checkbox-inner{
      color: red;
    }
  }
}
.t-checkbox-checked {
  .t-checkbox-inner{
    color: #999;
  }
}
.t-checkbox-disabled {
  .t-checkbox-inner{
    color: #eee;
  }
}